/*red color =  #D90119 */
/*gray color =  #ededed */
/*dark_gray color =  #383838 */

html, body 
{
	padding: 0;
	margin: 0;
}

h1
{
    font-size: 300%;
	color: #D90119;
}

body
{
    background-attachment: fixed;
}

#Logo
{
	max-width: 20%;
	height: auto;
	top: 1%;
	position: absolute;
	left: 80%;
}

nav
{
	text-align: center;
	font-size: 30px;
	margin-top: 5%;
	width: 100%;
}

/*permet de faire disparaitre les puces de la liste*/
nav ul 
{
    list-style-type: none;
    margin: 0; /* typical - normalize the margin from UL */
    padding: 0; /* typical - normalize the padding from UL */
    display:block;
    line-height:50px;
    background: #383838;
    text-decoration:none;
    text-align:center;
    font-size: 25px;
}

/*Retire l'aspect de lien pour les options de menu*/
nav a 
{	
    text-decoration: none;
	color: white;
    padding: 10px;
}

/*Surligne les différentes parties du menu si la souris passe dessus*/
nav a:hover 
{ 
	background-color: menu;
	background:black url(btn_bright_grey.jpg) repeat-x;
}

/* *****************************************************************
 * Horizontal style menu (use .horizontal-list on the lowest UL)
 * ****************************************************************/
/* - List items that appear DIRECTLY inside an unordered list marked 
     as horizontal-list should be lined-up side-by-side */
ul.horizontal-list > li
{
	display: inline-block; zoom: 1; *display: inline;
}

/* *****************************************************************
 * Vertical style menu (use .vertical-list on the lowest UL)
 * ****************************************************************/
/* - List items that appear DIRECTLY inside an unordered list marked 
     as vertical-list should be stacked, and have width contrained */

/* hard code a width or use intrinsic to shrink-to-fit */ 
ul.vertical-list
{ 
    width: -moz-fit-content; /* for Firefox - width controlled by whatever the content needs */
    width: intrinsic; /* for other browsers - width controlled by whatever the content needs */
}
/* - ALL list items that appear inside a submenu within a main menu 
     should be prepped to handle sub-sub-menus within */
ul.vertical-list ul
{
    top: 0;
    left: 100%;
    white-space: nowrap;
}

/* *****************************************************************
 * Sub-menus
 * ****************************************************************/
/* - ALL unordered lists that appear inside a main-menu should be  
     hidden by default, and pulled out of the flow
   - Might need a background (optional) */
ul.menu ul
{
    display: none; /* required - hide the submenu by default */ 
    position: absolute; /* required - pull the submenu out of the flow */
    z-index: 10;
}
/*Affiche la liste sous Activités*/
ul.menu li:hover > ul
{
	display: block;
} 