/* */
.titre
{
	font-size: 40px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #ededed;
	border: 3px #383838 solid;
	color: #D90119;
	text-align: center;
}
/* */
p
{
	background-color: #ededed;
	font-size: 100%;
	text-align: justify;
	margin-left: 15%;
	margin-right: 15%;
	border: 2px #383838 solid;
	box-shadow: 2px 2px 2px gray;
}
/* Change la taille de la police et l'eppaisseur des bordures quand la fenêtre est réduite en dessous de 930 pixel. */
@media all and (max-width: 929px)
{
	.titre{
		font-size: 30px;
	border: 2px #383838 solid;
	}
	p{
		border: 1px #383838 solid;
	}
}
/* Change la taille de la police et l'eppaisseur des bordures quand la fenêtre est réduite en dessous de 874 pixel. */
@media all and (max-width: 873px)
{
	.titre{
		font-size: 20px;

	border: 1px #383838 solid;
	}
}



